<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- build:css styles/options-vendor.css -->
		<!-- endbuild -->
		<!-- build:css styles/options.css -->
		<link href="styles/options.css" rel="stylesheet">
		<!-- endbuild -->
		<script src="lib/angular.min.js"></script>
	</head>
	<body ng-app="app" ng-controller="EngineController">
		<h1>
			<span data-lang="en">Search engines</span>
			<span data-lang="pl">Wyszukiwarki</span>
		</h1>
	
		<ul id="engines-container">
			<li ng-repeat="engine in engines">
				[{{ engine.keywords.join(',') }}] {{ engine.title }}
				<button ng-click="editEngine(engine)">✏️</button>
			</li>
		</ul>
			
		<form id="engine-editor">
			<p class="buttons">
				<button ng-click="saveEngine(currentEngine)">
					<span data-lang="en">Save</span>
					<span data-lang="pl">Zapisz</span>
				</button>
			</p>
			<p>
				<label>
					<span data-lang="en">Title (name)</span>
					<span data-lang="pl">Tytuł (nazwa)</span>
					<input type="text" ng-model="currentEngine.title" style="width:15em">
				</label>
				<label>
					<span data-lang="en">Keyword(s)</span>
					<span data-lang="pl">Słowo kluczowe</span>
					<input type="text" ng-model="currentEngine.keywords" style="width:5em">
				</label>
			</p>
			<p>
				<label>
					<span data-lang="en">Base URL</span>
					<span data-lang="pl">Bazowy URL</span>
					<input type="text" ng-model="currentEngine.baseUrl" style="width:25em">
				</label>
			</p>
			<div ng-repeat="action in currentEngine.actions">
				<fieldset>
					<legend>{{ action.name }}</legend>
					<label>
						<span data-lang="en">URL</span>
						<span data-lang="pl">URL</span>
						<input type="text" ng-model="action.url" style="width:20em">
					</label>
					<label>
						<span data-lang="en">Method</span>
						<span data-lang="pl">Metoda</span>
						<input type="text" ng-model="action.method" style="width:5em">
					</label>
					<label>
						<span data-lang="en">MIME type</span>
						<span data-lang="pl">Typ MIME</span>
						<input type="text" ng-model="action.type" style="width:20em">
					</label>
					<p>
						<span data-lang="en">Data (key:value)</span>
						<span data-lang="pl">Dane (nazwa:wartość)</span>
					</p>
					<div ng-repeat="data in action.data">
						<p>
							<input type="text" ng-model="data.key">
							<input type="text" ng-model="data.value">
						</p>
					</div>
				</fieldset>
			</div>
		</form>

		<!-- build:js scripts/options.js -->
		<script src="scripts/options.js"></script>
		<!-- endbuild -->
		<!-- build:js scripts/setupI18n.js -->
		<script src="scripts/setupI18n.js"></script>
		<!-- endbuild -->
	</body>
</html>
